body{
    margin: 0;
    padding: 0;
    background: #F3F5FC;/*#E5E5E5;*/
}

.caja{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
}

.logo{
    width: 100%;
    float: left;
}
.logoImg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.cuadroIzquierdo{
    float: left;
    width: 70%;
    height: 90%;
    border-radius: 24px;
}

.ingresoTexto{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 60%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #F3F5FC;
}

.cuadroDerecho{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: #FFFFFF;
}

#imgDer{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}

#texto{
    margin-left: 10%;
    margin-right: 5%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #343A40;
}

#texto2{
    float: left;
    margin-left: 8%;
    color: #343A40;
    width: 90%;
    height: 50%;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
}

.botonIzquierdo{
    float: left;
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.exclamacion{
    margin-left: 10%;
    width: 16px;
    height: 10px;
    display: inline-block;
}

.mensaje{
    font-size: 15px;
    color: #495057;
}

#botonEncriptar{
    padding: 24px;
    width: 40%;
    height: 67px;
    border-radius: 24px;
    margin-left: 10%;
    margin-top: 10px;
    background-color: #0A3871;
    -webkit-text-fill-color: #D8DFE8;
    border-color: #0A3871;
    font-size: 16px;
    cursor: pointer;
}

#botonEncriptar:hover{
    background-color: #093264;
    transition-delay: 100ms;
}

#botonDesencriptar{
    padding: 24px;
    width: 40%;
    height: 67px;
    border-radius: 24px;
    margin-left: 2%;
    background-color: #D8DFE8;
    border-color: #0A3871;
    color: #0A3871;
    font-size: 16px;
    cursor: pointer;
}
#botonDesencriptar:hover{
    background-color: #c7cdd4;
    transition-delay: 100ms;
}

#copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #FFFFFF;
    border-radius: 24px;
    display: none;
    cursor: pointer;
}
#copiar:hover{
    background: #ebe9e9;
    
}
.copyright{
    padding: 1em;
    width: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

/*sintaxis para configurar la pagina y que se vea bien en cualquier pantalla
Configuracion para celular*/
@media screen and (max-width:480px) {
   .caja, .logo, .header, .cuadroIzquierdo, .botonIzquierdo, #botonEncriptar, #botonDesencriptar, #copiar{
    width: 100%;
   }
   .cuadroDerecho{
    height: 20%;
    width: auto;
    margin: 20px;
   }
   #botonEncriptar, #botonDesencriptar, #copiar{
    margin-top: 5%;
    margin-left: auto;
   }
   #imgDer{
    display: none;
   }
   #texto{
    height: auto;
    margin-top: 1em;
    }
    #texto2{
        height: 30%;
    }
}

/*sintaxis para configurar la pagina y que se vea bien en cualquier pantalla
Configuracion para Tablet*/
@media screen and (min-width:481px) and (max-width:850px) {

    .caja, .logo, .header, .cuadroIzquierdo, .botonIzquierdo, #InputTexto, .copyright{
     width: 100%;
    }
    .cuadroDerecho{
        width: 82%;
        margin-left: 20%;
        margin-right: 8%;
    }
    #botonEncriptar, #botonDesencriptar, #copiar{
     margin-top: 5%;
     margin-left: 10%;
    }
    #botonDesencriptar{
        margin-left: 2%;
    }
    #imgDer{
     display: none;
    }
    #texto{
     height: auto;
     margin-top: 1em;
     }
     .copyright{
        padding: 0;
        margin-top: 17%;
     }

 }